apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-python-app-green
  namespace: blue-green-deployment
  labels:
    app: my-python-app
    version: green
spec:
  replicas: 3
  selector:
    matchLabels:
      app: my-python-app
      version: green
  template:
    metadata:
      labels:
        app: my-python-app
        version: green
    spec:
      containers:
        - name: my-python-app
          image: 543816070942.dkr.ecr.us-east-1.amazonaws.com/blue-green:green
          ports:
            - containerPort: 8000
          env:
            - name: ENV
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: ENV
            - name: LOG_LEVEL
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: LOG_LEVEL
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 20